<style media="screen">
.my-button {
  background-color: #191f34;
}
</style>


<div class="project-cards">
  {{#each user.projects}}

    <div class="project-card">
        <div class="project-title">
          {{#if this.title}}
            <h3>{{this.title}}</h3>
          {{else}}
            <a><h3>Untitled</h3></a>
          {{/if}}
            <!-- <a href="user-show.html"><h3>By {{this.username}}</h3></a> -->
        </div>
        <div class ="project-description">
            <p>{{this.description}}</p>
        </div>
        <div class="project-devs">
            <p><strong>Developers needed: </strong>{{this.developerNeeded}}</p>
            <!-- <p><strong>Developers on board: </strong>{{projects.devs}}</p> -->
        </div>
        <div class="anker">
            <a href='/projects/{{this._id}}' class='btn btn-primary my-button'>Go to project</a>
        </div>
    </div>
    {{/each}}
</div>
