<div class="outer-project-show">
    <div class=project-show>
        <div class="project-show-title">
            <h1>{{project.title}}</h1>
            <small>{{project.author.name}}</small>
        </div>
        <div class="project-show-project-description">
            <p>{{project.description}}</p>
        </div>
        <div class="project-show-project-attributes">
            <p><strong>Developers needed: </strong>{{project.developerNeeded}}</p>
            <p><strong>Developers on board: </strong>{{project.devs}}</p>
        </div>
        <div class="edit">
          <!-- NEED HELP HERE -->
            <a href="/projects/{{project._id}}/edit">Edit</a>
        </div>
    </div>
</div>
