<div class="container">
    <div class="row justify-content-md-center">

      <div class="col-md-8">
        <h2>{{user.username}}</h2>
        A user since {{user.createdAt}}
        <small>{{user.tags}}</small>
        {{#each user.projects}}
        <div class="card mb-6 box-shadow">
          <img class="card-img-top" src="" alt="Card image cap">
          <div class="card-body">
            {{#if this.title}}
            <h4 class="card-text">{{projects.title}}</h4>
            {{else}}
            <h4 class="card-text">Untitled</h4>
            {{/if}}
            {{projects.description}}
            {{projects.developerNeeded}}
            <a href='/projects/{{projects._id}}' class='btn btn-primary'>Go to project</a>
          </div>
        </div>
        {{/each}}
      </div>
</div>
